/* Nav style */
nav{
  display: flex; 
  justify-content: space-between; 
  margin: 0px 50px;
  margin-left: 100px;
  margin-right: 100px;
}
nav ul{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    border-color: green;
    color: green;
    font-weight: bold;
}
/* Nav style complete */
/* Banner section */
.banner{
    margin-left: 100px;
    align-items: center;
    display: FLEX;
    margin-top: 0px;
    background-color: #C6E4D6;
    border-radius: 16px;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
}
.text1{
    margin-left: 80px;
    color: rgb(107, 136, 126);
    margin-top: 40px;
}
.text{
    font-weight: 800;
    font-size: 50px;
    margin-top: 0 ;
    margin-left: 80px;
    margin-bottom: 0px;
}
.image{
    margin-right: 70px;
    height: 330px;

}
.banner-btn{
    margin-left: 80px;
    margin-top: 14px;
    /* bottom: -6px; */
    padding: 0px;
    height: 40px;
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 29px;
    background-color: #006A50;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/* Banner section Done */
