/* Nav style */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Fira Sans", serif;
}
.text-center{
    text-align: center;
}
body{
    background-color: #f1f1f3;
}
nav{
  display: flex; 
  justify-content: space-between; 
  margin: 0px 50px;
  margin-left: 200px;
  margin-right: 200px;
}
nav ul{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    border-color: green;
    color: green;
    font-weight: bold;
}
/* Nav style complete */
/* Banner section */
.banner{
    margin-left: 200px;
    align-items: center;
    display: FLEX;
    margin-top: 0px;
    background-color: #C6E4D6;
    border-radius: 16px;
    justify-content: space-between;
    margin-right: 200px;
    height: 450px;
}
.text1{
    margin-left: 80px;
    color: rgb(107, 136, 126);
    margin-top: 40px;
}
.text{
    font-weight: 800;
    font-size: 50px;
    margin-top: 0 ;
    margin-left: 80px;
    margin-bottom: 0px;
}
.image{
    margin-right: 70px;
    height: 330px;

}
.banner-btn{
    margin-left: 80px;
    margin-top: 14px;
    /* bottom: -6px; */
    padding: 0px;
    height: 40px;
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 29px;
    background-color: #006A50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
/* Banner section Done */
/* The vision of future start */
#vision-box{
    /* width: 274px; */
    /* margin-left: 100px; */
    padding: 44px 200px;
    margin: 0 auto;
}
.allcard{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.card1{
    /* width: 400px;
    height: 385px; */
    padding: 32px;
    border-radius: 15px;
    background-color: #81B4FC;
    /* margin-right: 1100px; */
}

 .digital{
    margin-left: 40px;
    margin-top: 40PX;
    font-size: 18px;
 }
 .dbutton{
    background-color: #5490F5;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    cursor: pointer;
 }
 .card2{
    /* width: 400px;
    height: 385px; */
    padding: 32px;
    border-radius: 15px;
    background-color: #C6E4D6;
    /* margin-right: 1100px; */
}
.green{
    margin-left: 40px;
    margin-top: 40PX;
    font-size: 18px;
 }
 .gbutton{
    background-color: #09A15C;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    cursor: pointer;
 }
 .card3{
    /* width: 400px;
    height: 385px; */
    padding: 32px;
    border-radius: 15px;
    background-color: #F7EBCF;
    /* margin-right: 1100px; */
}
.modern{
    margin-left: 40px;
    margin-top: 40PX;
    font-size: 18px;
 }
 .mbutton{
    background-color: #FFC239;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
 }
 .recent{
    padding: 44px 200px;
    margin: 0 auto;
 }
 .recent .card{
    background-color: white;
    border-radius: 24px;
    display: flex;
    padding: 48px;
    margin-bottom: 24px;
    margin-top: 24px;
 }
 .recent .card .left .coverpic{
    border-radius: 24px;
 }
 .recent .card .right{
    margin-left: 32px;
 }
 .recent .card .right .cardbtn{
    background-color: #006A50;
    color: white;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
 }
 .donate{
    margin: 0 auto ;
    padding: 44px 200px;
 }
 .donate .all-cart{
    display: flex;
    justify-content: center;
    gap: 25px;

 }
 .donate .all-cart .cart{
    padding: 50px;
    border-radius: 10px;
    bottom: 30px;
 }
 .donate .all-cart .active{
    background-color: #C6E4D6;
 }
 .donate .all-cart .white{
    background-color: white;
 }
 .donate .all-cart .cart:hover{
    padding: 50px;
    border-radius: 10px;
    bottom: 30px;
    background-color:#C6E4D6;
 }
 .donate .all-cart .cart h1{
    font-size: 40px;
    font-weight: 70px;
 }
 .donate .field{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
 }
 .donate .field input{
    border-radius: 5px;
    border: none;
    margin: auto 60px;
    padding: 20px;
    text-align: center;
 }
 .donate .field .donatebtn{
    background-color: #006A50;
    color: white;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    transition: 0.3s;
    cursor: pointer;
 }
 .donate .field .donatebtn:hover{
    background-color: #021a13;
    color: white;
 }
 


